- # Expects 1 parameter: question
.question-group
  .question-box
    %p= question.value
  .answer-options
    .btn-link-container
      = link_to node_next_path(question, answer: 'yes') do
        .answer-item.btn-link= 'Si' 
    .btn-link-container
      = link_to node_next_path(question, answer: 'no') do
        .btn-link= 'No'
